body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --h1: Outfit;
  --font-merriweather: Merriweather;

  /* font sizes */
  --h1-size: 96px;
  --font-size-10xl: 29px;
  --font-size-29xl: 48px;
  --font-size-5xl: 24px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-darkslategray: #1d3557;
  --color-powderblue: rgba(168, 218, 220, 0.88);
  --color-crimson-100: #e63946;
  --color-crimson-200: rgba(230, 57, 70, 0);

  /* Paddings */
  --padding-lgi: 19px;
  --padding-xl: 20px;

  /* Border radiuses */
  --br-3xl: 22px;
  --br-81xl: 100px;
}
