body
  {
    font-family: Montaga, Arial;
    color: rgb(29, 0, 46);
    margin: 0;
  }

.hi
  {
    display: flex;
    flex-direction: row;
    font-size: 190px;
    align-items: center;
    margin-top: 24px;
    justify-content: center;
    margin-bottom: 0;
  }

.intro
  {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 0;
    padding-left: 80px;
    font-size: 56px;
    align-items: start;
    margin-bottom: 0;
  }
.nav-bar
  {
    display: flex;
    flex-direction: row;
    background-color: rgb(248, 214, 255);
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    height: 56px;
    border-width: 4px;
    border-radius: 24px;
    border-style: solid;
    border-color: rgb(243, 156, 255); 
    justify-content: space-between;
    align-items: center;
  }

.left-section
  {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-right: 20px;
    min-width: 150px;
    padding-left: 18px;
    font-size: 28px;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
  }

.right-section
{
  display: flex;
  font-size: 28px;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 18px;
  align-items: center;
  width: 600px;
  cursor: pointer;
  font-weight: bold;
}



.logo
{
  width: 40px;
  height: 40px;
}
.description
  {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    padding-left: 80px;
    font-size: 24px;
    align-items: start;
    margin-bottom: 0;
  }
